---
import Layout from "../layouts/Layout.astro";
import Clock from '../components/Clock.tsx';
import Websites from '../components/Websites.tsx';
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      <h1 class="build-title">
        What are you going to <br /> <span class="build-span"> BUILD </span> today?
      </h1>
      <Clock client:load />
    </section>
    <section>
      <div class="box-1">
        <q>
          <cite>
            Porque Deus amou o mundo de tal maneira que deu o seu Filho unigênito,
            para que todo aquele que nele crê não pereça, mas tenha a vida eterna.
          </cite>
        </q>
        <p>
          ~ Joao 3:16
        </p>
      </div>
      <Websites client:load />
    </section>
  </main>
</Layout>

<style>
main {
  color: var(--body-copy);
  font-family: Inter, sans-serif;

  max-width: 1500px;

  display: flex;
  flex-direction: column;
  gap: 120px;
}

.build-title {
  font-weight: normal;
  font-size: 64px;
}

.build-span {
  font-weight: bold;
  background-color: var(--cyan);
  color: var(--background-base);
  
  display: inline-flex;
  justify-content: center;
}

section:first-child {
  display: flex;
  gap: 500px;
}

section:last-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 250px;
}

.box-1 {
  max-width: 800px;

  background-color: var(--secondary-panel);
  padding: 50px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-1 q {
  font-size: 24px;
  font-weight: bold;
}

.box-1 p {
  color: var(--sub-headline);
}
</style>
